/*************************/
/***** master styles *****/
/*************************/

h1, h2, h3, h4, h5, h6,
p, div, label, input, button {
  font-family: 'Roboto', sans-serif !important;
}

.progress.circle {
  display: block;
  margin: auto;
  width: 90%;
}
circle.background {
  fill: none;
  stroke: #f1f1f1;
  stroke-width: 0.4;
}
circle.progress {
  fill: none;
  /*stroke: #9F7AEA;*/
  stroke-linecap: round;
  stroke-width: 1.7;
  transition: stroke-dashoffset 1s linear;
}
text {
  fill: #bbb;
  font-size: 5px;
  text-anchor: middle;
}

.-z-1 {
  z-index: -1;
}